@use './main.scss';

/**************************
        BANNER
***************************/
.banner {
  text-align: center;
  height: 100vh;
  min-height: 100vh;
  position: relative;

  background: linear-gradient(
      rgba(182, 225, 238, 0.281),
      rgba(157, 191, 218, 0.658)
    ),
    url('../img/patrick-schopflin-TN2Azd9iPaM.jpg') no-repeat fixed center /
      cover;

  & &-content {
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    h1,
    h5,
    h6,
    p {
      color: black;
    }
  }

  .cv {
    font-size: 1.4em;
    font-family: 'Lato', bold;
    color: #3a2a2a;
    font-weight: 900;
    margin: 40px 0 15px 0;
  }

  .arrow {
    width: 45px;
    height: 45px;
  }
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &.img-attrib {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 0.5em 0.5em 0;
    padding: 0.25em;
    font-size: 0.8em;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
/**************************
          SECTIONS
***************************/
.wrapper {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 auto;
  padding: 50px 3% 20px 3%;
}

.section-title {
  position: absolute;
  font-weight: 600;
  top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  max-width: 100%;
}

#portfolio {
  background: linear-gradient(
      rgba(182, 225, 238, 0.281),
      rgba(157, 191, 218, 0.658)
    ),
    url('../img/fabrizio-conti-7lePZXJXYBM.jpg') no-repeat fixed center / cover;
  position: relative;
}

#gallery {
  margin: 0 auto;
  padding: 0;

  div.card {
    height: 350px;
    overflow: auto;

    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    position: relative;
    text-align: center;

    &::-webkit-scrollbar {
      display: none;
    }

    p {
      font-size: 0.83em;
      color: #000000;
      font-weight: bold;
      padding: 0.3em;
      margin: 0;
    }
    a {
      text-decoration: none;
    }
  }
}

/**************************
ABOUT
***************************/
#about {
  &.cont {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
      url('../img/about_img.jpg') no-repeat fixed center / cover;
    padding: 30px 0 40px 0;
  }

  p,
  h4 {
    color: #ffffff;
    text-align: justify;
    line-height: 1.3rem;
  }

  p {
    font-size: large;
  }

  a {
    color: inherit;
  }

  .wid {
    width: 90%;
  }

  .foto-profilo {
    display: block;
    max-width: 250px;
    margin: 0 auto;
    border-radius: 40%;

    @include main.min-desktop-width() {
      margin-top: 20px;
    }

    @include main.max-mobile-width() {
      padding-bottom: 20px;
    }
  }
}

/**************************
PERSONAL INFO & CAROUSEL
***************************/
#extra-info {
  background-color: rgba(132, 170, 245, 0.445);
  width: 100%;

  #info {
    width: 100%;
    @include main.min-tablet-width() {
      width: 45%;
      float: left;
    }

    ul {
      list-style-type: georgian;
      text-align: justify;
      padding-left: 25px;
    }

    li {
      padding-bottom: 5px;
    }
  }

  #contatti {
    @include main.min-tablet-width() {
      width: 50%;
      float: right;
    }

    .carousel-inner {
      height: 300px;
    }

    .carousel-inner img {
      height: 300px;
      object-fit: cover;
    }

    .carousel-caption {
      background: rgba(0, 0, 0, 0.6);
      font-size: 0.8rem;
      line-height: 0.9rem;
      font-weight: 700;
      padding-bottom: 50px;
    }

    .no-back {
      background: none;
    }

    #delta {
      width: 210px;
      height: 40px;
      padding-bottom: 3px;

      @include main.min-desktop-width() {
        width: 320px;
        height: 60px;
        padding-bottom: 3px;
      }

      @include main.min-xl-width() {
        width: 350px;
        height: 70px;
        padding-bottom: 3px;
      }
    }

    #other {
      width: 90px;
      height: 35px;
    }
  }
}
